body {
  margin: 0;
  padding-top: 70px;
}

.navbar {
  background: black;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

}

.nav-links {
  display: flex;
  list-style: none;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.navbar h2 {
  color: white;
  margin: 0;
  font-size: 20px;
}

.navbar a {
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  padding: 16px; 
  border-radius: 6px;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.navbar a:hover {
  background-color:#013d92;
  color: white;
}

.navbar .active {
  background-color:#013d92;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1c1c1c;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 6px;
  padding: 8px 0;
}

.dropdown-content a {
  display: block;
  padding: 10px 14px;
  color: white;
  text-decoration: none;
}

.dropdown-content a:hover {
  background: #013d92;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}
